@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@import "tailwindcss";

@theme{
    --color-Azul:#00249C;
    --color-azul2:#40CEE4;
    --color-Gris:#C5C5C5;
    --color-Rojo1:#C6007E;
    --color-Rojo2:#E280BE,
    --font-sans: "Montserrat", sans-serif;

}